USE [dynamics]
GO
/****** Object:  Table [d365].[Worker]    Script Date: 8/4/2021 9:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [d365].[Worker](
	[PERSONNELNUMBER] [nvarchar](300) NULL,
	[ADDRESSBOOKS] [nvarchar](300) NULL,
	[ADDRESSCITY] [nvarchar](300) NULL,
	[ADDRESSCOUNTRYREGIONID] [nvarchar](300) NULL,
	[ADDRESSCOUNTRYREGIONISOCODE] [nvarchar](300) NULL,
	[ADDRESSCOUNTY] [nvarchar](300) NULL,
	[ADDRESSDISTRICTNAME] [nvarchar](300) NULL,
	[ADDRESSLOCATIONID] [nvarchar](300) NULL,
	[ADDRESSNAMEDESCRIPTION] [nvarchar](300) NULL,
	[ADDRESSPURPOSE] [nvarchar](300) NULL,
	[ADDRESSSTATE] [nvarchar](300) NULL,
	[ADDRESSSTREET] [nvarchar](300) NULL,
	[ADDRESSVALIDFROM] [nvarchar](300) NULL,
	[ADDRESSVALIDTO] [nvarchar](300) NULL,
	[ADDRESSZIPCODE] [nvarchar](300) NULL,
	[ALLOWREHIRE] [nvarchar](300) NULL,
	[ANNIVERSARYDATETIME] [nvarchar](300) NULL,
	[BIRTHDATE] [nvarchar](300) NULL,
	[CITIZENSHIPCOUNTRYREGION] [nvarchar](300) NULL,
	[DECEASEDDATE] [nvarchar](300) NULL,
	[DISABLEDVERIFICATIONDATE] [nvarchar](300) NULL,
	[EDUCATION] [nvarchar](300) NULL,
	[ELECTRONICLOCATIONID] [nvarchar](300) NULL,
	[ETHNICORIGINID] [nvarchar](300) NULL,
	[EXPATRIATERULINGVALIDFROM] [nvarchar](300) NULL,
	[EXPATRIATERULINGVALIDTO] [nvarchar](300) NULL,
	[FATHERBIRTHCOUNTRYREGION] [nvarchar](300) NULL,
	[FIRSTNAME] [nvarchar](300) NULL,
	[GENDER] [nvarchar](300) NULL,
	[ISDISABLED] [nvarchar](300) NULL,
	[ISDISABLEDVETERAN] [nvarchar](300) NULL,
	[ISEXPATRIATERULINGAPPLICABLE] [nvarchar](300) NULL,
	[ISFULLTIMESTUDENT] [nvarchar](300) NULL,
	[KNOWNAS] [nvarchar](300) NULL,
	[LANGUAGEID] [nvarchar](300) NULL,
	[LASTNAME] [nvarchar](300) NULL,
	[LASTNAMEPREFIX] [nvarchar](300) NULL,
	[MARITALSTATUS] [nvarchar](300) NULL,
	[MIDDLENAME] [nvarchar](300) NULL,
	[MILITARYSERVICEENDDATE] [nvarchar](300) NULL,
	[MILITARYSERVICESTARTDATE] [nvarchar](300) NULL,
	[MOTHERBIRTHCOUNTRYREGION] [nvarchar](300) NULL,
	[NAME] [nvarchar](300) NULL,
	[NAMEALIAS] [nvarchar](300) NULL,
	[NAMESEQUENCEDISPLAYAS] [nvarchar](300) NULL,
	[NATIONALITYCOUNTRYREGION] [nvarchar](300) NULL,
	[NATIVELANGUAGEID] [nvarchar](300) NULL,
	[NUMBEROFDEPENDENTS] [nvarchar](300) NULL,
	[OBJECTID] [nvarchar](300) NULL,
	[OFFICELOCATION] [nvarchar](300) NULL,
	[OFFICELOCATIONID] [nvarchar](300) NULL,
	[ORIGINALHIREDATETIME] [nvarchar](300) NULL,
	[PARTYNUMBER] [nvarchar](300) NULL,
	[PARTYTYPE] [nvarchar](300) NULL,
	[PERSONALSUFFIX] [nvarchar](300) NULL,
	[PERSONALTITLE] [nvarchar](300) NULL,
	[PERSONBIRTHCITY] [nvarchar](300) NULL,
	[PERSONBIRTHCOUNTRYREGION] [nvarchar](300) NULL,
	[PERSONDETAILSVALIDFROM] [nvarchar](300) NULL,
	[PERSONDETAILSVALIDTO] [nvarchar](300) NULL,
	[PHONETICFIRSTNAME] [nvarchar](300) NULL,
	[PHONETICLASTNAME] [nvarchar](300) NULL,
	[PHONETICMIDDLENAME] [nvarchar](300) NULL,
	[PRIMARYADDRESSLOCATION] [nvarchar](300) NULL,
	[PRIMARYCONTACTEMAIL] [nvarchar](300) NULL,
	[PRIMARYCONTACTEMAILDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTEMAILISIM] [nvarchar](300) NULL,
	[PRIMARYCONTACTEMAILISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTEMAILPURPOSE] [nvarchar](300) NULL,
	[PRIMARYCONTACTFACEBOOK] [nvarchar](300) NULL,
	[PRIMARYCONTACTFACEBOOKDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTFACEBOOKISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTFACEBOOKPURPOSE] [nvarchar](300) NULL,
	[PRIMARYCONTACTFAX] [nvarchar](300) NULL,
	[PRIMARYCONTACTFAXDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTFAXEXTENSION] [nvarchar](300) NULL,
	[PRIMARYCONTACTFAXISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTFAXPURPOSE] [nvarchar](300) NULL,
	[PRIMARYCONTACTLINKEDIN] [nvarchar](300) NULL,
	[PRIMARYCONTACTLINKEDINDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTLINKEDINISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTLINKEDINPURPOSE] [nvarchar](300) NULL,
	[PRIMARYCONTACTPHONE] [nvarchar](300) NULL,
	[PRIMARYCONTACTPHONEDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTPHONEEXTENSION] [nvarchar](300) NULL,
	[PRIMARYCONTACTPHONEISMOBILE] [nvarchar](300) NULL,
	[PRIMARYCONTACTPHONEISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTPHONEPURPOSE] [nvarchar](300) NULL,
	[PRIMARYCONTACTTWITTER] [nvarchar](300) NULL,
	[PRIMARYCONTACTTWITTERDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTTWITTERISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTTWITTERPURPOSE] [nvarchar](300) NULL,
	[PRIMARYCONTACTURL] [nvarchar](300) NULL,
	[PRIMARYCONTACTURLDESCRIPTION] [nvarchar](300) NULL,
	[PRIMARYCONTACTURLISPRIVATE] [nvarchar](300) NULL,
	[PRIMARYCONTACTURLPURPOSE] [nvarchar](300) NULL,
	[PROFESSIONALSUFFIX] [nvarchar](300) NULL,
	[PROFESSIONALTITLE] [nvarchar](300) NULL,
	[SENIORITYDATE] [nvarchar](300) NULL,
	[SUMMARYVALIDFROM] [nvarchar](300) NULL,
	[SUMMARYVALIDTO] [nvarchar](300) NULL,
	[TITLEID] [nvarchar](300) NULL,
	[VETERANSTATUSID] [nvarchar](300) NULL,
	[WORKERSTATUS] [nvarchar](300) NULL,
	[WORKERTYPE] [nvarchar](300) NULL,
	[WORKSFROMHOME] [nvarchar](300) NULL
) ON [PRIMARY]

GO
