USE [dynamics]
GO
/****** Object:  Table [dbo].[UStID Format]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UStID Format](
	[ISO 3166] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Length] [varchar](50) NULL
) ON [PRIMARY]
GO
