USE [dynamics]
GO
/****** Object:  Table [dbo].[CoAMapping]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoAMapping](
	[Account Title] [nvarchar](200) NULL,
	[Name] [nvarchar](200) NULL,
	[German Account Name] [nvarchar](200) NULL,
	[Main account category] [nvarchar](200) NULL,
	[99'er Accounts Lucanet other countries] [nvarchar](200) NULL,
	[Accounts local software PLX GmbH (Diamant)] [nvarchar](200) NULL,
	[Group report Konten (Budget 2021)] [nvarchar](200) NULL,
	[Obsolete temporäre Konten] [nvarchar](200) NULL,
	[Positionsnummern 1] [nvarchar](200) NULL,
	[Positionsnummern 2] [nvarchar](200) NULL,
	[IFRS Account ] [nvarchar](200) NULL,
	[Balance] [nvarchar](200) NULL,
	[Änderung] [nvarchar](200) NULL,
	[Trading Partner] [nvarchar](200) NULL,
	[KoSt] [nvarchar](200) NULL,
	[Region] [nvarchar](200) NULL,
	[Projekt] [nvarchar](200) NULL,
	[Column 17] [nvarchar](200) NULL,
	[Main account category2] [nvarchar](200) NULL,
	[Column 19] [nvarchar](200) NULL
) ON [PRIMARY]
GO
