USE [dynamics]
GO
/****** Object:  Table [dbo].[Currency Translation]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency Translation](
	[Projectile] [nvarchar](50) NULL,
	[D365] [nvarchar](50) NULL
) ON [PRIMARY]
GO
