USE [dynamics]
GO
/****** Object:  Table [dbo].[FiSktoRechtskreis]    Script Date: 8/4/2021 9:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiSktoRechtskreis](
	[DVFiSktoRechtskr] [nvarchar](50) NULL,
	[AfAArt] [nvarchar](50) NULL,
	[DVKontonummer] [nvarchar](50) NULL
) ON [PRIMARY]

GO
