USE [dynamics]
GO
/****** Object:  Table [dbo].[BIC Bankkto Sammelkto Online]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIC Bankkto Sammelkto Online](
	[Kontonummer] [varchar](50) NULL,
	[Sammelkonto] [varchar](50) NULL,
	[BIC] [varchar](50) NULL,
	[Bankkonto] [varchar](50) NULL
) ON [PRIMARY]
GO
