USE [dynamics]
GO
/****** Object:  Table [dbo].[ISO3166 Country Codes (de)]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISO3166 Country Codes (de)](
	[Land] [varchar](50) NULL,
	[ISO 3166-1 ALPHA-2] [varchar](50) NULL,
	[ISO 3166-1 ALPHA-3] [varchar](50) NULL,
	[ISO 3166-1 numerisch] [varchar](50) NULL
) ON [PRIMARY]
GO
