USE [dynamics]
GO
/****** Object:  Table [dbo].[Diamant_Country_Format_Description]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diamant_Country_Format_Description](
	[DiamantID] [varchar](50) NULL,
	[ISO3] [varchar](50) NULL
) ON [PRIMARY]
GO
