USE [dynamics]
GO
/****** Object:  Table [dbo].[Mapping_Gender]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mapping_Gender](
	[Anrede] [varchar](50) NULL,
	[Gender] [varchar](50) NULL
) ON [PRIMARY]
GO
