USE [dynamics]
GO
/****** Object:  Table [dbo].[EU Country Codes]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EU Country Codes](
	[ISO 3166-1 Alpha-3] [varchar](50) NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
