USE [dynamics]
GO
/****** Object:  Table [dbo].[Language Translation]    Script Date: 04.08.2021 21:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language Translation](
	[language DE] [nvarchar](50) NULL,
	[ISO Code] [nvarchar](50) NULL
) ON [PRIMARY]
GO
